@use 'variables' as *;

%hover-black {
	&:hover {
		cursor: pointer;
		color: $color_black;
	}
}

%hover-light {
	&:hover {
		cursor: pointer;
		color: $color_white;
	}
}

%hover-black-icon {
	&:hover {
		cursor: pointer;
		stroke: $color_black;
	}
}
